@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Conta";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>Após a confirmação você apagará desativará sua conta, para recuperar entre em contato com o adimistrador.</strong>
        </p>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Desativar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}