@model Web.ViewModels.ImagemViewModel

@{
    ViewData["Title"] = "Remover Imagem";
}

<h2>Remover Imagem</h2>

<h3>Você realmente quer remover esta imagem?</h3>
<div>
    <div>
        <img src="@Model.Caminho" class="img-thumbnail img-fluid" style="max-width:200px" />
    </div>
    <br/>
    <form asp-action="DeleteImage">
        <input type="submit" value="Remover" class="btn btn-default" /> |
        @Html.ActionLink("Voltar para o modo de edição", "Edit", new { id = Model.AnuncioId })
    </form>
</div>
