@model Web.ViewModels.VendaViewModel

@{
    ViewData["Title"] = "Avaliar Vendedor";
}

<h2>Avaliar Vendedor</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AvaliarVendedor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Número do pedido</label>
                <input asp-for="Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@new @SelectList(ViewBag.Status, "Key", "Value")" class="form-control" disabled></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <input value="@ViewBag.FormaPagamento[Model.FormaPagamento]" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Avaliacao" class="control-label"></label>
                <input asp-for="Avaliacao" id="input-id" type="text" data-step="1.0" class="rating" data-size="xs" data-show-caption="false">
            </div>
            <div class="form-group">
                <label asp-for="Anuncio.Titulo" class="control-label"></label>
                <input asp-for="Anuncio.Titulo" class="form-control" disabled />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#input-id").rating({
            'showClear': false
        });
        $("#input-id").val(0);
    </script>
}
